body::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}
.popup-show body::after {
  opacity: 1;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}
.popup_show {
  z-index: 150;
  visibility: visible;
  // overflow: auto;
  pointer-events: auto;
}
.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}
.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  background-color: #fff;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
  .lock & {
    visibility: visible;
  }

  display: flex;

  @media (max-width: $tablet) {
    flex-direction: column;
  }
}

// custom
.popup__close {
  position: absolute;
  top: -30px;
  right: -30px;
  outline: none;

  @media (max-width: $tablet) {
    top: -45px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.popup__img {
  max-width: 100%;
  height: auto;
  border-radius: 20px 0 0 20px;
  padding: 20px 0 20px 20px;
  background: #fff;

  & img {
    max-width: 100%;
    height: auto;
  }

  @media (max-width: $tablet) {
    display: none;
  }
}

.popup__form {
  padding: 40px 30px 40px 28px;
  box-shadow: -29px 0px 40px 0px rgba(0, 0, 0, 0.15);

  @media (max-width: $tablet) {
    padding: 40px 30px 30px 30px;
    text-align: center;
  }
}

.popup__title {
  margin-bottom: 14px;

  @media (max-width: $mobile) {
    margin-bottom: 20px;
  }
}

.popup__text {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.48px;

  @media (max-width: $mobile) {
    margin-bottom: 20px;
    font-size: 14px;
    letter-spacing: 0.42px;
  }
}

.popup-form__consent-body {
  @media (max-width: $mobile) {
    padding: 0 40px;
  }
}

// Форма города

#city .popup__close {
  top: -35px;
  right: -35px;

  @media (max-width: $tablet) {
    top: -45px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

#city .h2-title {
  margin-bottom: 0;
}

.city__body {
  padding: 50px 86px;
  border-radius: 20px;
  border: 7px solid rgba(255, 255, 255, 0);

  background: #f5f5fa;

  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  @media (max-width: $mobile) {
    padding: 30px 15px;
    gap: 15px;
  }
}

.city__form {
  @media (max-width: $mobile) {
    width: 100%;
  }
}

.city__input {
  border-radius: 50px;
  background: #fff;

  box-shadow: 0px 0px 14px 0px rgba(102, 167, 243, 0.2);
  min-width: 462px;
  padding: 19px;
  outline: none;

  font-size: 20px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  &::placeholder {
    opacity: 0.5;
  }

  @media (max-width: $mobile) {
    min-width: auto;
    width: 100%;
    padding: 15px;
    font-size: 18px;
  }
}

.city__list {
  padding: 30px 28px;
  border-radius: 10px;
  background: #fff;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 28px;
  row-gap: 30px;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  width: 100%;
  height: 480px;
  overflow: auto;

  @media (max-width: $mobile) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 22px;
    row-gap: 10px;

    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 15px */
    letter-spacing: -0.3px;

    height: 300px;
  }
}

.city__item {
  border-bottom: 0.8px solid #e7e8ea;
  padding-bottom: 30px;

  @media (max-width: $mobile) {
    padding-bottom: 10px;
  }
}
