.team-page {
  margin-bottom: 130px;

  @media (max-width: $mobile) {
    margin-bottom: 40px;
  }
  // .team-page__container
  &__container {
  }

  // .team-page__body
  &__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;

    @media (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }
  }

  &__title {
    margin-bottom: 60px;

    @media (max-width: $mobile) {
      margin-bottom: 20px;
    }
  }
}
.team {
  // .team__slide
  &__slide {
  }

  // .team__slide-img
  &__slide-img {
  }

  // .team__slide-name
  &__slide-name {
  }

  // .team__slide-description
  &__slide-description {
  }
}
